<header>
  <section>
    <div class="header-nav">
      <div class="container">
        <ul class="nav d-flex justify-content ">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">Customer</a>
            <ul class="nav-item-sup">
              <li><a href="add_customer.html">Add Customer</a></li>
              <li><a href="list_customer.html">List Customer</a></li>
              <li><a href="list_customer_use_service.html">List of customers using the service</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Employee</a>
            <ul class="nav-item-sup">
              <li><a href="add_employee.html">Add Employee</a></li>
              <li><a href="list_employee.html">List Employee</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Service</a>
            <ul class="nav-item-sup">
              <li><a href="add_service.html">Add Service</a></li>
              <li><a href="list_service.html">List Service</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#" tabindex="-1" aria-disabled="true">Contract</a>
            <ul class="nav-item-sup">
              <li><a href="add_contract.html">Add Contract</a></li>
              <li><a href="add_detail_contract.html">Add New Detailed Contract</a></li>
              <li><a href="list_contract.html">List Contract</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <div
    id="intro-example"
    class="p-5 text-center bg-image">
  </div>
</header>
<footer class="text-center text-lg-start bg-light text-muted">

  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i> Hướng Dẫn Di Chuyển
          </h6>
          <p>
            Khu nghỉ dưỡng Furama là cơ sở hàng đầu để khám phá một trong những điểm đến hấp dẫn nhất Châu Á. Chỉ cách Đà Nẵng một quãng lái xe ngắn là bốn Di sản Văn hóa Thế giới được UNESCO công nhận:
            <br>
            1.	Cố đô Huế	2 tiếng
            <br>
            2.	Phố cổ Hội An	30 phút
            <br>
            3.	Thánh địa Mỹ Sơn	90 phút
            <br>
            4.	Động Phong Nha	3 tiếng
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Products
          </h6>
          <p>
            <a href="#!" class="text-reset">Angular</a>
          </p>
          <p>
            <a href="#!" class="text-reset">React</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Vue</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Laravel</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Useful links
          </h6>
          <p>
            <a href="#!" class="text-reset">Pricing</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Settings</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Orders</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Help</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
          <p><i class="fas fa-home me-3"></i>103 – 105 Đường Võ Nguyên Giáp, Phường Khuê Mỹ, Quận Ngũ hành Sơn, Tp. Đà Nẵng</p>
          <p>
            <i class="fas fa-envelope me-3"></i>reservation@furamavietnam.com
          </p>
          <p><i class="fas fa-phone me-3"></i>84-236-3847 333/888</p>
          <p><i class="fas fa-print me-3"></i>84-236-3848 333/888</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2018 Furama Resort Danang
    <!--    <a class="text-reset fw-bold" href="https://mdbootstrap.com/">MDBootstrap.com</a>-->
  </div>
  <!-- Copyright -->
</footer>
