
<table>
  <tbody>
  <tr>
    <th scope="row">KH001</th>
    <td>Nguyễn Thu Hạ Nhi</td>
    <td>Menber</td>
    <td>nnhi7884@gmail.com</td>
    <td>025695845</td>
    <td>10/10/2003</td>
    <td>49685476466</td>
    <td>
      <div class="btn-group">
        <a class="btn btn-danger">Delete</a>
        <a class="btn btn-warning">Edit</a>
      </div>
    </td>
  </tr>
  <tr>
    <th scope="row">KH002</th>
    <td>Trần Hữu Lợi</td>
    <td>Menber</td>
    <td>loitran@gmail.com</td>
    <td>025694455</td>
    <td>10/03/2003</td>
    <td>4865595485</td>
    <td>
      <div class="btn-group">
        <a class="btn btn-danger">Delete</a>
        <a class="btn btn-warning">Edit</a>
      </div>
    </td>
  </tr>
  </tbody>
</table>

